body{
margin:0;
padding:0;
}
.container{
	width:100%;
	margin:0;
	padding:15px;
	display:table;
	box-sizing:border-box;
}
.header{
	width:100%;
	margin:0;
	padding:0;
	display:flex;
	box-sizing:border-box;
	position:fixed;
	background-color:white;
}

.left{
	margin-left:300px;
}
.left ul{
	list-style:none;
	margin:0;
	padding:0;
}
.left ul li{
	display:inline-block;
	margin:0;
	padding:0;
}
.left ul li a{
	text-decoration:none;
	margin:0;
	padding:8px 20px;
	color:black;
	font-size:20px;
}
.right{
	line-height:60px;
	margin-right:300px;
}
.right ul{
	list-style:none;
	margin:0;
	padding:0;
}
.right ul li{
	display:inline-block;
	margin:0;
	padding:0;
}
.right ul li a{
	text-decoration:none;
	margin:0;
	padding:8px 20px;
	color:black;
	font-size:20px;
}
.logo{
	margin:0 auto;
	float:none;
}
.logo h1{
	text-align:center;
	line-height:12px;
}
.banner{
	width:100%;
	margin:0;
	padding:20px;
	height:655px;
	box-sizing:border-box;
	position:relative;
}
.banner img{
	width:100%;
	height:100%;
}
.text{
	width:40%;
	display:table;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%);
	position:absolute;
}
.text p{
	text-align:center;
	color:white;
}
.text h1{
	text-align:center;
	color:white;
}
.text p a{
	background:transparent;
	padding:10px; 
	border:2px solid white; 
	color:white; 
	font-size:24px;
	text-decoration:none;
}
.text p a:hover{
	background-color:white;
	color:black;
	transition:0.5s ease;
}
.content{
	width:100%;
	margin:0;
	padding:0;
	display:flex;
}
.design{
	width:50%;
	margin:0;
	padding:10px;
	box-sizing:border-box;
	display:table;
	background-color:white;
}
.about{
	width:50%;
	margin:0;
	padding:10px;
	box-sizing:border-box;
	display:table;
	background-color:white;
}
.design p{
	font-size:30px;
	text-align:center;
}
.about p{
	text-align:left;
	font-size:20px;
}
h1{
	text-align:center;
}
.stories{
	width:100%;
	margin:5px auto;
	padding:0;
	display:flex;
}
.floor{
	width:50%;
	margin:0 auto;
	padding:0;
	display:table;
	position:relative;
}
.valley{
	width:50%;
	margin:0 auto;
	padding:0;
	display:table;
	position:relative;
}
.image1{
	width:50%;
	margin:0 auto;
	padding:0;
	height:400px;
	display:block;
	overflow:hidden;
	opacity:1;
	transition:.5s ease;
	backface-visibility:hidden;
}
.middle{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%);
	opacity:0;
	transition:.5s ease;
	text-align:center;
	width:50%;
	height:400px;
}
.image1 img{
	width:100%;
	height:100%;
}
.image1:hover{
	opacity:0.3;
}
.middle:hover{
	opacity:1;
}
.xy{
	font-size:16px;
	color:white;
	background-color:#48a58c;
	width:30%;
	left:15%;
	top:15%;
	transform:translate(-15%);
}
.read{
	width:50%;
	margin:0 auto;
	padding:0;
	display:table;
}
.read p{
	text-align:center;
}
.floor p{
	text-align:center;
}
hr{
	width:20%;
}
.valley p{
	text-align:center;
}
.future{
	width:100%;
	margin:20px auto;
	padding:100px;
	display:flex;
	box-sizing:border-box;
}
.side1{
	width:50%;
	margin:0;
	padding:0;
	height:400px;
}
.side1 h1{
	text-align:center;
}
.side1 p{
	text-align:center;
	font-size:24px;
}
.side2{
	width:50%;
	margin:0;
	padding:0;
	height:400px;
}
.side2 img{
	width:100%;
	height:100%;
}
.posts{
	width:50%;
	margin:0 auto;
	padding:0;
	display:flex;
}
.one{
	width:50%;
	margin:0;
	padding:5px;
	height:200px;
	box-sizing:border-box;
}
.two{
	width:50%;
	margin:0;
	padding:5px;
	height:200px;
	box-sizing:border-box;
}
.three{
	width:50%;
	margin:0;
	padding:5px;
	height:200px;
	box-sizing:border-box;
}
.image2{
	width:100%;
	margin:0;
	padding:5px;
	height:200px;
	box-sizing:border-box;
}
.four{
	width:50%;
	margin:0;
	padding:5px;
	height:200px;
	box-sizing:border-box;
}
.one img{
	width:100%;
	height:100%;
}
.one p{
	text-align:center;
}
.two p{
	text-align:center;
}
.three p{
	text-align:center;
}
.four p{
	text-align:center;
}
.blog p{
	text-align:center;
	color:#48a58c;
	line-height:500px;
}
.blog{
	width:100%;
	margin:0;
	padding:0;
	display:table;
}
.blog p a{
	text-decoration:none;
	color:#48a58c;
}
.blog p a:hover{
	text-decoration:underline;
}
.footer ul{
	list-style:none;
	margin:0;
	padding:0;
}
.footer ul li{
	display:inline-block;
	margin:0;
	padding:0;
}
.footer ul li a{
	text-decoration:none;
	margin:0;
	padding:8px 20px;
	color:black;
}
.footer{
	text-align:center;
	line-height:150px;
}
.end{
	width:100%;
	margin:0;
	padding:0;
	height:200px;
	background-color:gray;
}


@media screen and (max-width:480px){
	.header{
		margin:0 auto;
		position:static;
	}
	.left{
		margin-left:0;
		text-align:left;
	}
	.right{
		margin-right:0;
		text-align:right;
	}
	.content{
		flex-direction:column;
		margin: 0 auto;
	}
	.design p{
		text-align:center;
	}
	.about p{
		text-align:center;
	}
	.design{
		width:100%;
	}
	.about{
		width:100%;
	}
	.stories{
		flex-direction:column;
	}
	.floor{
		width:100%;
	}
	.valley{
		width:100%;
	}
	.image1{
		width:100%;
	}
	.future{
		flex-direction:column;
		margin:0 auto;
		padding:0;
	}
	.side1{
		width:100%;
	}
	.side2{
		width:100%;
	}
	.side1 p{
		font-size:18px;
	}
	.posts{
		width:100%;
		justify-content:center;
		flex-direction:column;
	}
	.one{
		width:100%;
	}
	.two{
		width:100%;
	}
	.three{
		width:100%;
	}
	.four{
		width:100%;
	}
	.end{
		display:table;
		height:0;
	}
	.footer ul li{
		display:block;
		width:100%;
	}
	
	
	
}